body {
    background-color: #313131;
    color: rgb(181, 255, 255);
    font-family: cursive;
}

p::selection {
    background-color: rgb(181, 255, 255);
    color: #313131;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(200px, auto));
    gap: 10px;
    margin-bottom: 50px;
}

.definition, .commandes, .undo, .branches, .gitHub, .collaborate, .mergingBranchesConflicts {
    border-radius: 10px;
    border: solid 2px white;
    padding: 10px;
    margin: 5px;

}

.definition {
    grid-area: 1/1/2/2;
    background-color: rgb(155, 93, 82);
}

.commandes {
    grid-area: 1/2/2/3;
    background-color: #0e0e16;
}

.main {
    display: flex;
    justify-content: space-around;
}

.undo {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: rgb(56, 9, 35);
    text-align: center;
}

.branches {
    grid-area: 2/2/3/3;
    background-color: rgb(197, 94, 76);
}

.mergingBranchesConflicts {
    grid-area: 3/1/4/2;
    background-color: rgb(88, 70, 111);
}

.gitHub {
    grid-area: 3/2/4/3;
    background-color: rgb(192, 91, 91);
}

.collaborate {
    grid-area: 4/1/5/3;
    background-color:rgb(113, 69, 66);
  
}

h3 {
    text-align: center;
    background-color: rgb(69, 146, 228);
    background-color: rgb(243, 249, 255);
    padding: 10px 0;
    border-radius: 5px;
    margin: 0;
    color: #eee;
    color: rgb(25, 115, 156);
    font-family: Arial, Helvetica, sans-serif;
}

.project {
    border: 1px solid yellow;
    padding: 10px;
    width: 200px;
}

.project p {
    border-left: 3px solid white;
    padding-left: 5px;
}

.project p:nth-child(3) {
    color: rgb(72, 255, 0);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px white solid;
    padding: 5px 10px;
}

td {
    padding: 50px 10px;
}

.undo div p {
    display: inline-block;
}

.undo .commit p {
    color: black;
}

.undo .commit p:nth-child(1) {
    background-color: rgb(126, 238, 126);
    padding: 5px 10px;
}

.undo .commit p:nth-child(2) {
    background-color: rgb(234, 234, 109);
    padding: 5px 10px;
}

.undo .commit p:nth-child(3) {
    background-color: rgb(241, 122, 101);
    padding: 5px 10px;
}

span.red {
    color: rgb(252, 63, 101);
}

span.green {
    color: rgb(71, 241, 71);
}

.git-icon{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.onGitHub {
    position: absolute;
    bottom: 20px;
    color: var(--col0);
    left: calc(50% - 61px);
}
 
.onGitHub a{
    color: var(--col0);
    text-decoration: none;
}

.move {
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes moving {
    50% {
        left: calc(50% - 40px);
    }
}