:root {
    --dark: #17153B;
    --light1: #2E236C;
    --light2: #433D8B;

    --light: #C8ACD6;


}

body {
    background-color: var(--dark);
    color: rgb(188, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

p::selection {
    background-color:var(--dark);
    color: var(--light);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(200px, auto));
    gap: 10px;
    margin-bottom: 50px;
}

section {
    border-radius: 10px;
    border: solid 4px var(--dark);
    box-shadow: 0 0 0 4px var(--light);
    padding: 10px;
    margin: 5px;
}

section {
    background-color: var(--light1);
}

section:nth-child(1) {
    grid-area: 1/1/2/2;
    background-color: var(--light1);
}

section:nth-child(2) {
    grid-area: 1/2/2/3;
}

.main {
    display: flex;
    justify-content: space-around;
}

section:nth-child(3) {
    grid-area: 2/1/3/2;
}

section:nth-child(4) {
    grid-area: 2/2/3/3;
}

section:nth-child(5) {
    grid-area: 3/1/4/2;
}

section:nth-child(6) {
    grid-area: 3/2/4/3;
}

section:nth-child(7) {
    grid-area: 4/1/5/3;
    grid-area: 4/1/5/3;
}

body section:last-child {
    grid-area: 5/1/6/3;
}

h2 {
    text-align: center;
    background-color: var(--dark);
    padding: 10px 0;
    border-radius: 5px;
    margin: 0;
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

.project {
    border: 1px solid yellow;
    padding: 10px;
    width: 200px;
}

.project p {
    border-left: 3px solid white;
    padding-left: 5px;
}

.project p:not(.project p:first-child) {
    margin-left: 10px;
}

.project p:nth-child(3) {
    color: rgb(72, 255, 0);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px white solid;
    padding: 5px 10px;
}

td {
    padding: 50px 10px;
}

section:nth-child(3)>div {
    text-align: center;
}

section:nth-child(3) .commit {
    color: black;
    display: flex;
    justify-content: space-around;
}

section:nth-child(3) .commit p {
    padding: 5px 10px;
    border-radius: 5px;
}

section:nth-child(3) .commit p:nth-child(1) {
    background-color: rgb(126, 238, 126);
}

section:nth-child(3) .commit p:nth-child(2) {
    background-color: rgb(234, 234, 109);
}

section:nth-child(3) .commit p:nth-child(3) {
    background-color: rgb(241, 122, 101);
}

span.red {
    color: rgb(252, 63, 101);
}

span.green {
    color: rgb(71, 241, 71);
}

p.title {
    background-color: #105c9f;
    display: inline;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

.onGitHub {
    text-align: center;
}

.onGitHub a {
    color: var(--col0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes moving {

    50% {
        padding-right: 30px;
    }
}

.move {
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}